@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
@import url("https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css");

$light-color: white;
$main-color: #5B8C5A;
$alt-color: #707070;
$dark-color: #4E4E4E;

.filter-select {
    //border: 1px red solid;
    width: 50vw;
    position: absolute;
    z-index: 20;
    right: 1.8em;
    height: 50%;
    overflow: hidden;

    form {
        border-radius: 0.5em 0em 0em 0.5em;
        padding: 1.5em;
        background-color: white;
        box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.1);
        color: $dark-color;
        position: absolute;
        right: 0;
        top: -100%;
    }

    i {
        position: absolute;
        color: rgba(112, 112, 112, 0.6);
        top: 0.5em;
        right: 0.5em;
    }

    .form-buttons {
        display: flex;
        justify-content: space-between;
        margin-top: 0.5em;

        button {
            background-color: transparent;
            color: $alt-color;
            border: none;
            padding: 0.2em 0.5em;

            &:focus {
                outline: none;
                box-shadow: none !important;
                background-color: transparent !important;
            }
        }

        .submit {
            background-color: $main-color;
            color: white;

            &:focus {
                background-color: lighten($main-color, 10%) !important;
            }
        }
    }
}

.app {
	background-color: #eeeeee;
	min-height: 100vh;
	padding: 0;
	font-size: 16px;
	font-family: 'Lato';
	// border: 1px green solid;
	height:100%;
}
.landing-background {
	height: 100%;
	width: 100%;
	overflow: hidden;
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	background-image: url("https://images.squarespace-cdn.com/content/v1/582029da03596e90591221dd/1514448136405-8X2261J9NWM4K2PZ54VJ/ke17ZwdGBToddI8pDm48kLkXF2pIyv_F2eUT9F60jBl7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z4YTzHvnKhyp6Da-NYroOW3ZGjoBKy3azqku80C789l0iyqMbMesKd95J-X4EagrgU9L3Sa3U8cogeb0tjXbfawd0urKshkc5MgdBeJmALQKw/58Maddox+Photography+nz.jpg?format=2500w");
	background-size: 500%;
	background-repeat: no-repeat;
	background-position: 55% 75%;
	&::after {
		content: '';
		position: relative;
		top: 0;
		left: 0;
		z-index: 3;
		height: 100%;
		width: 100%;
		display: block;
		background-color: rgba(0, 0, 0, 0.7);
	}
}
.landing {
	height: 100vh;
	position: relative;
	overflow: hidden;
	.container {
		padding: 0;
		width: 90%;
		margin: auto;
		height: 100%;
	}
}
.landing-start {
	position: relative;
	top: 0;
	left: 0;
	z-index: 2;
	height: 100%;
	.logo {
		position: absolute;
		top: 50%;
		-webkit-transform: translateY(-50%);
		transform: translateY(-50%);
	}
	.tapToStart {
		position: absolute;
		bottom: 5%;
		text-align: center;
		width: 100%;
		color: white;
		text-transform: uppercase;
		letter-spacing: 0.1em;
	}
}
.landing-register {
	.signup {
		position: relative;
		top: 0;
		left: 0;
		z-index: 2;
		height: 100%;
	}
	.signin {
		position: relative;
		top: 0;
		left: 0;
		z-index: 2;
		height: 100%;
	}
	.logo {
		position: absolute;
		top: 20%;
	}
}
.landing-login {
	.signup {
		position: relative;
		top: 0;
		left: 0;
		z-index: 2;
		height: 100%;
	}
	.signin {
		position: relative;
		top: 0;
		left: 0;
		z-index: 2;
		height: 100%;
	}
	.logo {
		position: absolute;
		top: 20%;
	}
}
.signupBox {
	position: absolute;
	left: -5.5%;
	bottom: -7.5%;
	height: 60%;
	width: 100vw;
	border-radius: 2em;
	background-color: rgba(255, 255, 255, 0.7);
	padding: 2em 2em 1em 2em;
	h3 {
		color: #5B8C5A;
		font-weight: 400;
		font-size: 1.5em;
		margin-bottom: 1em;
	}
	.form-group {
		input {
			width: 100%;
			border: none;
			background-color: transparent;
			color: #4E4E4E;
			border-bottom: 1px #707070 solid;
			padding-bottom: 0.5em;
			padding-left: 0.2em;
			border-radius: 0em;
			&:focus {
				outline: none !important;
				-webkit-box-shadow: none !important;
				box-shadow: none !important;
			}
		}
		select {
			width: 100%;
			border: none;
			background-color: transparent;
			color: #4E4E4E;
			border-bottom: 1px #707070 solid;
			padding-bottom: 0.5em;
			padding-left: 0.2em;
			border-radius: 0em;
			&:focus {
				outline: none !important;
				-webkit-box-shadow: none !important;
				box-shadow: none !important;
			}
		}
	}
	.subtext {
		margin: -0.5rem 0 2rem 0;
		font-size: 0.9em;
		color: #3d3d3d;
		span {
			color: #5B8C5A;
			font-weight: 700;
		}
	}
	.buttons {
		width: 100%;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
	}
	.btn-back {
		border-radius: 5em;
		background-color: #a3a3a3;
		border: none;
		margin-right: 1.5em;
		i {
			color: white;
		}
	}
	.btn-next {
		-webkit-box-flex: 1;
		-ms-flex: 1 0 auto;
		flex: 1 0 auto;
		border-radius: 2em;
		text-transform: uppercase;
		letter-spacing: 0.1em;
		background-color: #5B8C5A;
		border: none;
	}
}
.signinBox {
	position: absolute;
	left: -5.5%;
	bottom: -7.5%;
	height: 60%;
	width: 100vw;
	border-radius: 2em;
	background-color: rgba(255, 255, 255, 0.7);
	padding: 2em 2em 1em 2em;
	height: 45%;
	h3 {
		color: #5B8C5A;
		font-weight: 400;
		font-size: 1.5em;
		margin-bottom: 1em;
	}
	.form-group {
		input {
			width: 100%;
			border: none;
			background-color: transparent;
			color: #4E4E4E;
			border-bottom: 1px #707070 solid;
			padding-bottom: 0.5em;
			padding-left: 0.2em;
			border-radius: 0em;
			&:focus {
				outline: none !important;
				-webkit-box-shadow: none !important;
				box-shadow: none !important;
			}
		}
		select {
			width: 100%;
			border: none;
			background-color: transparent;
			color: #4E4E4E;
			border-bottom: 1px #707070 solid;
			padding-bottom: 0.5em;
			padding-left: 0.2em;
			border-radius: 0em;
			&:focus {
				outline: none !important;
				-webkit-box-shadow: none !important;
				box-shadow: none !important;
			}
		}
	}
	.subtext {
		margin: -0.5rem 0 2rem 0;
		font-size: 0.9em;
		color: #3d3d3d;
		span {
			color: #5B8C5A;
			font-weight: 700;
		}
	}
	.buttons {
		width: 100%;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
	}
	.btn-back {
		border-radius: 5em;
		background-color: #a3a3a3;
		border: none;
		margin-right: 1.5em;
		i {
			color: white;
		}
	}
	.btn-next {
		-webkit-box-flex: 1;
		-ms-flex: 1 0 auto;
		flex: 1 0 auto;
		border-radius: 2em;
		text-transform: uppercase;
		letter-spacing: 0.1em;
		background-color: #5B8C5A;
		border: none;
	}
}
.hide {
	display: none;
}
.nav-top {
	width: 100%;
	position: relative;
	height: 5em;
	.profile-image-small, .dashboard-image-change {
		width: 2.5em;
		height: 2.5em;
		overflow: hidden;
		border-radius: 2em;
		position: absolute;
		top: 50%;
		-webkit-transform: translateY(-50%);
		transform: translateY(-50%);
		right: 2em;
		img {
			width: 2.5em;
			min-height: 4em;
		}
	}
	.heading {
		color: #4E4E4E;
		font-weight: 700;
		font-size: 1.5em;
		position: absolute;
		top: 50%;
		-webkit-transform: translateY(-50%);
		transform: translateY(-50%);
		left: 5rem;
	}
	.navbar {
		display: block;
		padding: 1em;
		position: absolute;
		top: 52%;
		-webkit-transform: translateY(-50%);
		transform: translateY(-50%);
		left: 1em;
	}
}
.nav-bottom {
	position: fixed;
	bottom: 0;
	width: 100vw;
	// max-width: 100vw;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: space-evenly;
	-ms-flex-pack: space-evenly;
	justify-content: space-evenly;
	height: 3.5em;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	background-color: #eeeeee;
	z-index: 99;
	// border: 1px red solid;
	svg {
		height: 2em;
		width: 2em;
		fill: #4E4E4E;
	}
	.selected {
		fill: #5B8C5A;
	}
}
.nav-bottom-buttons {
	fill: #5B8C5A;
}
.filter-bar {
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	padding: 0 8.5%;
	margin-top: 1em;
	div {
		color: #5B8C5A;
		border-bottom: 1px #5B8C5A solid;
		padding-bottom: 0.4em;
	}
	.filter {
		font-weight: 300;
		color: #707070;
		border-bottom: 1px #707070 solid;
	}
	i {
		font-size: 0.7em;
		margin-right: 0.6em;
	}
}
.post-item {
	width: 84%;
	margin: 1.5em auto 0 auto;
	position: relative;
	min-height: 22.5em;
	.post-image {
		width: 100%;
		height: 12.5em;
		overflow: hidden;
		img {
			width: 100%;
		}
	}
}
.posts {
	min-height: 100%;
	position: relative;
	padding-bottom: 4.5em;
}
.likePost {
	fill: none;
	stroke: #5B8C5A;
	stroke-width: 32px;
}
.post-tabs {
	border: none !important;
	position: relative;
	top: -1.5em;
	height: 1.5em;
	.active {
		background-color: transparent !important;
		border: none !important;
		svg {
			fill: white;
		}
	}
	.comments-triangle {
		height: 1.5em;
		position: absolute;
		top: 0em;
		left: -1;
		z-index: 2;
		padding: 0 !important;
	}
	.nav-triangle {
		height: 2em;
		width: 2em;
		fill: #5B8C5A;
		position: absolute;
		top: -0.1em;
		left: 0.75em;
	}
	.comments-tab {
		position: absolute;
		top: 0.1rem;
		left: 1.75rem;
		background-color: #5B8C5A;
		height: 1.5rem;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		border-radius: 0 !important;
		z-index: 1;
		padding-left: 1.2rem;
		font-size: 0.9rem;
	}
	.comments-tab.active {
		background-color: white !important;
		color: #5B8C5A !important;
	}
	a {
		text-transform: uppercase;
		color: white;
	}
}
.profile-posts {
	min-height: 100%;
	position: relative;
	padding-bottom: 4.5em;
	// border: 1px red solid;
}
.edit-icon {
	i {
		margin-left: 10em;
	}
}
.post-info {
	background-color: white;
	position: absolute;
	top: 12.5em;
	z-index: 5;
	width: 100%;
	-webkit-box-shadow: 1px 2px 5px -1px rgba(0, 0, 0, 0.2);
	box-shadow: 1px 2px 5px -1px rgba(0, 0, 0, 0.2);
	min-height: 10em;
	border-radius: 0em 0em 0.5em 0.5em;
	padding: 1.2em 0em 0em 0em;
	.post-top {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
		margin: auto;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		width: 90%;
		padding-bottom: 0.7em;
		border-bottom: 1px rgba(112, 112, 112, 0.4) solid;
		.post-title {
			font-size: 1.2em;
			font-weight: 700;
			color: #5B8C5A;
		}
		svg {
			width: 1.8em;
			height: 1.8em;
		}
	}
	.post-bottom {
		margin: auto;
		width: 90%;
		margin-top: 0.3em;
		.post-location {
			color: rgba(112, 112, 112, 0.5);
			font-size: 0.9rem;
		}
		.post-profile {
			position: relative;
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-align: center;
			-ms-flex-align: center;
			align-items: center;
			margin-top: 1em;
			.post-profile-picture {
				border-radius: 2.5em;
				height: 2.5em;
				width: 2.5em;
				overflow: hidden;
				margin-right: 1em;
			}
			img {
				width: 2.5em;
				position: relative;
				top: -15%;
			}
		}
		.post-name {
			font-weight: 700;
			color: #4E4E4E;
		}
		.post-timestamp {
			font-weight: 700;
			font-size: 0.85rem;
			color: rgba(112, 112, 112, 0.5);
			margin-top: -0.3em;
		}
	}
}
.comments {
	height: 100%;
	padding-top: 1em;
	padding-bottom: 0.2em;
	position: relative;
	top: -1.5em;
	z-index: 50;
	background: white;
	-webkit-box-shadow: 1px 2px 5px -1px rgba(0, 0, 0, 0.2);
	box-shadow: 1px 2px 5px -1px rgba(0, 0, 0, 0.2);
	border-radius: 0em 0em 0.5em 0.5em;
	margin-bottom: -1.5em;
	.comment {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		width: 100%;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		margin-bottom: 0.5rem;
	}
	.profile-photo {
		border-radius: 2em;
		height: 2em;
		width: 2em;
		overflow: hidden;
		margin-right: 0.7em;
		position: relative;
		-webkit-box-flex: 0;
		-ms-flex: 0 0 2em;
		flex: 0 0 2em;
		img {
			width: 2em;
			position: relative;
			top: -15%;
		}
	}
	.comment-name {
		font-weight: 700;
		color: #4E4E4E;
		margin-right: 0.2rem;
	}
	.comment-content {
		line-height: 1em;
		font-size: 0.9rem;
		color: rgba(0, 0, 0, 0.6);
	}
	.author-comment {
		border-bottom: 1px rgba(112, 112, 112, 0.4) solid;
		padding-bottom: 0.5em;
		margin-bottom: 0.75em;
	}
}
.makeComment {
	width: 104%;
	margin-left: -2%;
	background-color: rgba(112, 112, 112, 0.15);
	border-radius: 0.2rem;
	margin-bottom: 1rem;
	padding: 1.5% 2%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	.profile-image-small {
		border-radius: 2em;
		height: 2em;
		width: 2em;
		overflow: hidden;
		margin-right: 0.7em;
		position: relative;
		-webkit-box-flex: 0;
		-ms-flex: 0 0 2em;
		flex: 0 0 2em;
		img {
			width: 2em;
			position: relative;
			top: -15%;
		}
	}
	form {
		font-size: 0.9rem;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
		width: 100%;
		input {
			width: 90%;
			background-color: transparent;
			border: none;
			&:focus {
				outline: none !important;
				border: none !important;
			}
		}
		button {
			-webkit-box-flex: 0;
			-ms-flex: 0 0 25%;
			flex: 0 0 25%;
			border: none;
			background-color: white;
		}
	}
}

.profileImageChange {
	// background-color: rgba(0, 0, 0, 0) !important;
	.modal-dialog {
		width: 55vw;
		position: absolute;
		right: 5.5%;
		top: 4em;
	}
	.modal-body {
		position: relative;
		top: 0;
		left: 0;
		padding: 2em 0em;
		.fa-times-circle {
			position: absolute;
			top: 0.75em;
			right: 0.75em;
			color: rgba(112, 112, 112, 0.6);
		}
	}
	.uploadPhotoForm {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		color: #4E4E4E;
		.form-group {
			text-align: center;
		}
		.photoBrowse {
			display: none;
		}
		input {
			width: 9em;
			text-align: center;
		}
		.browseLabel {
			color: rgba(112, 112, 112, 0.6);
			display: block;
			border: 1px rgba(112, 112, 112, 0.6) dashed;
			width: 9em;
			padding: 0.2em 0;
			margin: 0.5em 0 -0.2em 0em;
		}
		.photoURL {
			border: none;
			border-bottom: 1px rgba(112, 112, 112, 0.6) solid;
			margin: 0.5em 0 0.75em 0;
			padding-bottom: 0.2em;
			&:focus {
				outline: none !important;
			}
		}
	}
	.profileImage {
		height: 7em;
		width: 7em;
		overflow: hidden;
		border-radius: 7em;
		margin-bottom: 1em;
		img {
			width: 7em;
		}
	}
	.submitPhotoChange {
		margin: -0.5em 0 0 0;
		padding: 0em 1em;
		text-transform: uppercase;
		font-weight: 300;
		letter-spacing: 0.02em;
		background-color: #5B8C5A;
		border: none;
	}
}

//Create Page Scss

.wrap{
  background-color: rgb(236, 236, 236);
  textarea {
	resize: none;
	color: $dark-color !important;
	
	&:focus {
		box-shadow: none !important;
	}
  }

  input {
	color: $dark-color !important;

	&:focus {
		box-shadow: none !important;
	}
  }

  select {
	  color: $dark-color !important;

	  &:focus {
		box-shadow: none !important;
	}
  }

  .add-post{
	margin: 0% 8% 8% 8% ;
	padding-top: 1%;
	.add-post-title{
		font-size: 1em;
	}
	.photo-upload-buttons{
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 5%;

		.btn{
			flex: 0 0 40%;
			padding: 0.2em;
			margin-right: 2%;
			color: rgb(161, 161, 161);
			text-transform: uppercase;

			&:focus {
				box-shadow: none !important;
			}
		}
		.btn-browse{
			text-transform: lowercase;
			border: 0.14em rgb(161, 161, 161) solid;
			border-style: dashed;
			background-color: rgb(250, 250, 250);
		}
		h3{
			margin-top: 2%;
			font-size: 1em;
		}
		.urlInput {
			text-align: center;
			height: 2.2em;
			width: 45%;
			border: none;
			background-color: transparent;
			border-bottom: 1px rgba(112, 112, 112, 0.4) solid;

			&:focus {
				// border: none;
				outline: none;
				box-shadow: none;
			}
		}
	}
	img{
		width: 100%;
		margin-bottom: 1em;
	}
	label{
		font-weight: 500;
		margin: 0em;
	}
	  
	.form-control{
		border-radius: 0%;
		color: rgb(161, 161, 161);
		background-color: rgb(250, 250, 250);
		border: none;
	}
	.btn-success{
		text-transform: uppercase;
		letter-spacing: 0.05em;
		// width: 25%;
		background-color: $main-color;
		color: white;
		border: none;
	}
  }
  .url-input , .browse-input{
	display: none;
	position: absolute;
	top: 27%;
	left: 50%;
	transform: translateX(-50%);
	border: thin rgb(161, 161, 161) solid;
	background-color: white;
	width: 90%;
	padding: 1%;
	height: 0%;
  }
}
.profilePageImageChange {
	// background-color: rgba(0, 0, 0, 0) !important;
	.modal-dialog {
		width: 55vw;
		position: absolute;
		left: 5.5%;
		top: 10.5em;
	}
	.modal-body {
		position: relative;
		top: 0;
		left: 0;
		padding: 2em 0em;
		.fa-times-circle {
			position: absolute;
			top: 0.75em;
			right: 0.75em;
			color: rgba(112, 112, 112, 0.6);
		}
	}
	.uploadPhotoForm {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		color: #4E4E4E;
		.form-group {
			text-align: center;
		}
		.photoBrowse {
			display: none;
		}
		input {
			width: 9em;
			text-align: center;
		}
		.browseLabel {
			color: rgba(112, 112, 112, 0.6);
			display: block;
			border: 1px rgba(112, 112, 112, 0.6) dashed;
			width: 9em;
			padding: 0.2em 0;
			margin: 0.5em 0 -0.2em 0em;
		}
		.photoURL {
			border: none;
			border-bottom: 1px rgba(112, 112, 112, 0.6) solid;
			margin: 0.5em 0 0.75em 0;
			padding-bottom: 0.2em;
			&:focus {
				outline: none !important;
			}
		}
	}
	.profileImage {
		height: 7em;
		width: 7em;
		overflow: hidden;
		border-radius: 7em;
		margin-bottom: 1em;
		img {
			width: 7em;
		}
	}
	.submitPhotoChange {
		margin: -0.5em 0 0 0;
		padding: 0em 1em;
		text-transform: uppercase;
		font-weight: 300;
		letter-spacing: 0.02em;
		background-color: #5B8C5A;
		border: none;
	}
}

.profile-page {
	min-height: 100vh;
	// border: 1px blue solid;
	position: relative;  
}

.posts-search {
	// border: 1px red solid;
	display: flex;
	align-items: center;
	margin: auto;
	width: 84%;
	justify-content: space-between;
	
	.mypost {
        display: flex;
        justify-items: space-between;
		// border: 1px red solid;
		flex: 0 0 45%;

        .number-of-post {
			font-weight: 600;
			color: rgba(0, 0, 0, 0.7);
            margin-right: 0.5em;
        }
        .number-of-post2 {
            font-size: 0.8em;
            background-color: #5B8C5A;
            color: white;
            width: 2.8em;
            height: 1.45em;
            border-radius: 0.3em;
            text-align: center;
            margin-top: 0.3em;
        }
    }
    .search {
		flex: 0 0 45%;
		// border: 1px red solid;
        input {
            background-color: #eeeeee;
            width: 100%;
			font-size: 1em;
        }
	}
	
    .form-control {
        outline: none !important;
        border: none !important;
        &:focus-within {
            outline: none !important;
			border: none !important;
			box-shadow: none !important;
        }
    }
    .form-group-search {
		display: flex;
		border-bottom: 1px #808080 solid;
    }
    .search-icon {
        display: flex;
        color: #808080;

		width: 83%;
		flex: 0 0 10%;
        i {
            margin: auto;
        }
    }
}

.profile-info {
	// position: relative;
	// border: 1px red solid;
	display: flex;
	align-items: center;
	margin-bottom: 1em;

	.profile-image-big {
        border-radius: 3em;
        height: 6em;
        width: 6em;
        overflow: hidden;
		margin-right: 0.7em;
		margin-left: 1.8em;
        img {
            width: 6em;
            height: 8em;
            position: relative;
            top: -2%;
        }
    }
    .personal-details {
        border: none;
        padding-bottom: 0;
		margin-bottom: 0;
		margin-left: 1em;
        h1 {
            font-size: 1.2em;
            font-weight: bold;
            color: #4E4E4E;
            margin: 0;
        }
        h2 {
            font-size: 1em;
            color: rgb(128, 128, 128);
            margin: 0;
		}
		
    }
    .edit-personal-details {
        font-size: 1em;
        color: rgb(128, 128, 128);
		margin: 0;
		
    }
}

.my-post {

	.postIcons {
		color: lighten($color: #707070, $amount: 10%);
		font-size: 1.1em;
	}

	.deleteProfilePost{
		margin-left: 0.3em;
	}

	.comments-triangle {
		top: 0.05em;
	}
}

.nav-sidebar {
    background-color: $main-color;
    position: fixed;
    top: 0;
    left: 0;
    width: 50vw;
    box-sizing: border-box;
    padding: 2em 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    z-index: 100;

    .logo {
        margin-left: -0.75em;
    }

    .nav {
        margin-top: 2em;
        justify-content: space-between;
        align-items: center;
        height: 40vh;
    }

    .nav-link {
        color: white;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        font-size: 1.1em;
    }

    i {
        color: white;
        font-size: 1.5em;
    }

    .active {
        font-weight: 700;
    }

    .visit {
        position: absolute;
        bottom: 3em;
        color: white;
		font-weight: 400;
		text-align: center;

        .visitLink {
            color: white;
			font-weight: 700;
			font-size: 1em;
			margin-top: -0.5em;
			text-transform: none;
			letter-spacing: 0.05em;
        }
    }
}