@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
@import url("https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css");

.app {
  background-color: #eeeeee;
  min-height: 100vh;
  padding: 0;
  font-size: 16px;
  font-family: 'Lato';
}

.landing-background {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  background-image: url("https://images.squarespace-cdn.com/content/v1/582029da03596e90591221dd/1514448136405-8X2261J9NWM4K2PZ54VJ/ke17ZwdGBToddI8pDm48kLkXF2pIyv_F2eUT9F60jBl7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z4YTzHvnKhyp6Da-NYroOW3ZGjoBKy3azqku80C789l0iyqMbMesKd95J-X4EagrgU9L3Sa3U8cogeb0tjXbfawd0urKshkc5MgdBeJmALQKw/58Maddox+Photography+nz.jpg?format=2500w");
  background-size: 500%;
  background-repeat: no-repeat;
  background-position: 55% 75%;
}

.landing-background::after {
  content: '';
  position: relative;
  top: 0;
  left: 0;
  z-index: 3;
  height: 100%;
  width: 100%;
  display: block;
  background-color: rgba(0, 0, 0, 0.7);
}

.landing {
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.landing .container {
  padding: 0;
  width: 90%;
  margin: auto;
  height: 100%;
}

.landing-start {
  position: relative;
  top: 0;
  left: 0;
  z-index: 2;
  height: 100%;
}

.landing-start .logo {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.landing-start .tapToStart {
  position: absolute;
  bottom: 5%;
  text-align: center;
  width: 100%;
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.landing-register .signup, .landing-register .signin, .landing-login .signup, .landing-login .signin {
  position: relative;
  top: 0;
  left: 0;
  z-index: 2;
  height: 100%;
}

.landing-register .logo, .landing-login .logo {
  position: absolute;
  top: 20%;
}

.signupBox, .signinBox {
  position: absolute;
  left: -5.5%;
  bottom: -7.5%;
  height: 60%;
  width: 100vw;
  border-radius: 2em;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 2em 2em 1em 2em;
}

.signupBox h3, .signinBox h3 {
  color: #5B8C5A;
  font-weight: 400;
  font-size: 1.5em;
  margin-bottom: 1em;
}

.signupBox .form-group input, .signinBox .form-group input {
  width: 100%;
  border: none;
  background-color: transparent;
  color: #4E4E4E;
  border-bottom: 1px #707070 solid;
  padding-bottom: 0.5em;
  padding-left: 0.2em;
  border-radius: 0em;
}

.signupBox .form-group input:focus, .signinBox .form-group input:focus {
  outline: none !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.signupBox .form-group select, .signinBox .form-group select {
  width: 100%;
  border: none;
  background-color: transparent;
  color: #4E4E4E;
  border-bottom: 1px #707070 solid;
  padding-bottom: 0.5em;
  padding-left: 0.2em;
  border-radius: 0em;
}

.signupBox .form-group select:focus, .signinBox .form-group select:focus {
  outline: none !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.signupBox .subtext, .signinBox .subtext {
  margin: -0.5rem 0 2rem 0;
  font-size: 0.9em;
  color: #3d3d3d;
}

.signupBox .subtext span, .signinBox .subtext span {
  color: #5B8C5A;
  font-weight: 700;
}

.signupBox .buttons, .signinBox .buttons {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.signupBox .btn-back, .signinBox .btn-back {
  border-radius: 5em;
  background-color: #a3a3a3;
  border: none;
  margin-right: 1.5em;
}

.signupBox .btn-back i, .signinBox .btn-back i {
  color: white;
}

.signupBox .btn-next, .signinBox .btn-next {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  border-radius: 2em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  background-color: #5B8C5A;
  border: none;
}

.signinBox {
  height: 45%;
}

.hide {
  display: none;
}

.nav-top {
  width: 100%;
  position: relative;
  height: 5em;
}

.nav-top .profile-image-small {
  width: 2.5em;
  height: 2.5em;
  overflow: hidden;
  border-radius: 2em;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 2em;
}

.nav-top .profile-image-small img {
  width: 2.5em;
  min-height: 4em;
}

.nav-top .heading {
  color: #4E4E4E;
  font-weight: 700;
  font-size: 1.5em;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 5rem;
}

.nav-top .navbar {
  display: block;
  padding: 1em;
  position: absolute;
  top: 52%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 1em;
}

.nav-bottom {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 3.5em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #eeeeee;
  z-index: 99;
}

.nav-bottom svg {
  height: 2em;
  width: 2em;
  fill: #4E4E4E;
}

.nav-bottom .selected {
  fill: #5B8C5A;
}

.filter-bar {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 8.5%;
  margin-top: 1em;
}

.filter-bar div {
  color: #5B8C5A;
  border-bottom: 1px #5B8C5A solid;
  padding-bottom: 0.4em;
}

.filter-bar .filter {
  font-weight: 300;
  color: #707070;
  border-bottom: 1px #707070 solid;
}

.filter-bar i {
  font-size: 0.7em;
  margin-right: 0.6em;
}

.post-item {
  width: 84%;
  margin: 1.5em auto 10.5em auto;
  position: relative;
}

.post-item .post-image {
  width: 100%;
  height: 12.5em;
  overflow: hidden;
}

.post-item .post-image img {
  width: 100%;
}

.posts {
  min-height: 100%;
  position: relative;
  padding-bottom: 3.5em;
}

.post-tabs {
  border: none !important;
  position: relative;
  top: -1.5em;
  height: 1.5em;
}

.nav-item {
  background-color: #5B8C5A;
  height: 1.7em;
  display: flex;
  align-items: center;
}

.post-tabs .active {
  background-color: white;
  border: none !important;
}

.post-tabs .active svg {
  fill: white;
}

.post-tabs .comments-triangle {
  height: 1.5em;
  position: absolute;
  top: 0em;
  left: -1;
  z-index: 2;
  padding: 0 !important;
}

.post-tabs .nav-triangle {
  height: 2em;
  width: 2em;
  fill: #5B8C5A;
  position: absolute;
  top: -0.1em;
  left: 0.75em;
}

.post-tabs .comments-tab {
  position: absolute;
  top: 0rem;
  left: 1.75rem;
  background-color: #5B8C5A;
  height: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 0 !important;
  z-index: 1;
  padding-left: 1.2rem;
  font-size: 0.9rem;
}

.post-tabs .comments-tab.active {
  background-color: white !important;
  color: #5B8C5A !important;
}

.post-tabs a {
  text-transform: uppercase;
  color: white;
}

.post-info {
  background-color: white;
  position: absolute;
  top: 12.5em;
  z-index: 5;
  width: 100%;
  -webkit-box-shadow: 1px 2px 5px -1px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 2px 5px -1px rgba(0, 0, 0, 0.2);
  min-height: 10em;
  border-radius: 0em 0em 0.5em 0.5em;
  padding: 1.2em 0em 0em 0em;
}

.post-info .post-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  padding-bottom: 0.7em;
  border-bottom: 1px rgba(112, 112, 112, 0.4) solid;
}

.post-info .post-top .post-title {
  font-size: 1.2em;
  font-weight: 700;
  color: #5B8C5A;
}

.post-info .post-top svg {
  width: 1.8em;
  height: 1.8em;
}

.post-info .post-bottom {
  margin: auto;
  width: 90%;
  margin-top: 0.3em;
}

.post-info .post-bottom .post-location {
  color: rgba(112, 112, 112, 0.5);
  font-size: 0.9rem;
}

.post-info .post-bottom .post-profile {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1em;
}

.post-info .post-bottom .post-profile .post-profile-picture {
  border-radius: 2.5em;
  height: 2.5em;
  width: 2.5em;
  overflow: hidden;
  margin-right: 1em;
}

.post-info .post-bottom .post-profile img {
  width: 2.5em;
  position: relative;
  top: -15%;
}

.post-info .post-bottom .post-name {
  font-weight: 700;
  color: #4E4E4E;
}

.post-info .post-bottom .post-timestamp {
  font-weight: 700;
  font-size: 0.85rem;
  color: rgba(112, 112, 112, 0.5);
  margin-top: -0.3em;
}

.likePost {
  fill: #5B8C5A;
}
/*# sourceMappingURL=style.css.map */